@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/* Reset de propriedades */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Quicksand', sans-serif;
   color: grey;
}
  .container-grid {
    width: 80%;
    margin:  auto;
    
}

main .column-flex {
    display: flex;
    justify-content: space-between;
}
main .coluna1{
    width: 75%;
    background-color: rgb(65, 225, 161);
}
main .coluna1 #lapis {
    width: 100%;
}
main .coluna2{
    width: 20%;
    background-color: royalblue;
}

main .coluna1 p {
    margin-top: 15px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}





/* Cabeçalho */
header {
    background-color: grey;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: white;
    font-weight: 300;
   
    
}
header h1 #logoux{
    font-weight: 600;
    font-style: italic;
}

 
 header nav a {
     color: white;
     text-decoration:none;
 }

 h2 {
    width: 300px;
    height: 300px;
    border: 1px solid red;

    margin-top: 20px;

    margin: auto;
    margin: 20px;
    margin: 20px 10px 20px 10px;
 }
 header nav {
     width: 200px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
